<h1>Музыкальное приложение</h1>

<div style="margin: 50px;">
    <a asp-controller="Music" asp-action="AllMusics" 
       style="display:block; font-size: 24px; margin: 20px;">
        🎵 Показать все песни
    </a>
    
    <a asp-controller="Music" asp-action="FindMusic"
       style="display:block; font-size: 24px; margin: 20px;">
        🔍 Поиск песен
    </a>
</div>
